<div class="media">
  <%= render partial: 'votes/voter', locals: {post: post} %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to post.title, [post.topic, post] %>
    </h4>

    <small>
      <% if post.image? %>
        <%= image_tag(post.image.thumb.url) %>
      <% end %>
    </small>


    <small class="text-muted">
      submitted <%= time_ago_in_words(post.created_at) %> time ago by <%= post.user.name %>
      </br>
    </small>

    <small>
      <%= post.comments.count %> comments
      submitted <%= time_ago_in_words(post.created_at) %> ago by
      <% if post.user.avatar? %>
        <%= image_tag(post.user.avatar.tiny.url) %>
      <% end %>
      <% if post.user.name %>
        <%= post.user.name %>
      <% else %>
        <%= post.user.email %>
      <% end %>
      </br>
      <%= post.comments.count %> Comments
    </small>

  </div>
</div>
